{% extends 'base.html'%}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'item.css' %}">
{% endblock %}

{% block title%}
{{menu_item.name}}
{%endblock %}

{% block content %}

 <div class="product-container">
        <div class="product-image-wrapper">
            <!-- Replace 'via.placeholder.com' with the actual URL of your product image -->
            <img src="{{menu_item.image}}" alt="Product Name" class="product-image">
        </div>
        <div class="product-details">
            <h1 class="product-name">{{menu_item.name}}</h1>
            <p class="product-price">Ugx{{menu_item.price}}</p>
            <p class="product-description">
                {{menu_item.description}}
            </p>
        </div>
    </div>

{% endblock %}


